/* ===== Start about Section Style ===== */
.about {
  box-shadow: var(--box-shadow);
}

.about .info {
  display: flex;
  align-content: center;
  gap: 30px;
}

@media (max-width: 991px) {
  .about .info {
    flex-direction: column;
  }
}

.about .info .image,
.about .info .text-box {
  flex: 1;
}

.about .info .image {
  box-shadow: var(--box-shadow);
  padding: 30px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
}

.about .info .image img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 991px) {
  .about .info .image img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .about .info .image img {
    width: 100%;
  }
}

.about .info .text-box p {
  line-height: 2;
  color: var(--main-color);
  font-size: 18px;
}

@media (max-width: 575px) {
  .about .info .text-box p {
    font-size: 15px;
  }
}
