.portfolioList {
  padding: 8px 20px;
  background-color: var(--main-color);
  color: var(--main-bg);
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.portfolioList.active {
  background-color: var(--main-bg);
  color: var(--main-color);
  box-shadow: var(--box-shadow);
}
